name: Build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y musl-tools gcc-aarch64-linux-gnu

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: x86_64-unknown-linux-musl,aarch64-unknown-linux-musl

      - name: Build x86_64
        run: make x86_64 CC_X86_64=musl-gcc

      - name: Build aarch64
        run: make aarch64 CC_AARCH64=aarch64-linux-gnu-gcc

      - name: Upload x86_64 artifact
        uses: actions/upload-artifact@v4
        with:
          name: prefixddns-x86_64-linux-musl
          path: target/x86_64-unknown-linux-musl/release/prefixddns

      - name: Upload aarch64 artifact
        uses: actions/upload-artifact@v4
        with:
          name: prefixddns-aarch64-linux-musl
          path: target/aarch64-unknown-linux-musl/release/prefixddns
